/*
 * usus.css
 *
 * (c) 2014 Sanjeev Premi (spremi@ymail.com)
 *
 * This software is available under terms of The MIT License.
 * (http://opensource.org/licenses/MIT)
 */


body
{
	margin			: 0;
	padding			: 0;

	font-family		: "DejaVu Sans", "Liberation Sans", sans-serif;
	font-size		: 10pt;
}

a
{
	text-decoration		: none;
}


/*
 * Page header
 */
#header
{
	position		:fixed;

	top			: 0px;
	left			: 0px;
	right			: 0px;

	height			: 60px;
}

#header h1
{
	margin			: 4px 10px 2px 10px;

	font-size		: 20pt;
}

#header h2
{
	margin			: 2px 10px;

	font-size		: 12pt;
}

#version
{
	font-size		: 10pt;
}


/*
 * Page content
 */
#content
{
	position		:fixed;

	top			: 61px;
	left			: 0px;
	right			: 0px;
	bottom			: 76px;

	overflow-x		: hidden;
	overflow-y		: auto;

	padding			: 10px 10px 20px 20px;

	font-size		: 12pt;
}

#content h3
{
	font-size		: 16pt;
}

#content p.note::before
{
	content			: "NOTE: ";
}

#content p.note
{
	padding			: 5px 10px;

	font-size		: 12pt;
	font-weight		: bold;
}

#content p.inf::before
{
	content			: "INFO: ";
}

#content p.inf
{
	padding			: 5px 10px;

	font-size		: 12pt;
	font-weight		: bold;
}

#content p.err::before
{
	content			: "ERROR: ";
}

#content p.err
{
	padding			: 5px 10px;

	font-size		: 12pt;
	font-weight		: bold;
}


/*
 * Page footer
 */
#footer
{
	position		: fixed;

	left			: 0px;
	right			: 0px;
	bottom			: 0px;

	height			: 50px;

	font-size		: 10pt;
}

#footer #copy
{
	margin			: 0px;
	padding			: 5px 10px;
}

#footer #license
{
	margin			: 0px;
	padding			: 5px 10px;
}

#footer #license a,
#footer #license a:link,
#footer #license a:visited
{
	font-weight		: bold;
}


/*
 * Menu
 */
#menu
{
	position		: fixed;

	left			: 0px;
	right			: 0px;
	bottom			: 50px;

	height			: 25px;

	font-size		: 10pt;
	font-weight		: bold;
}

#menu-bg
{
	display			: none;

	position		: fixed;

	left			: 0px;
	right			: 0px;
	top			: 60px;
	bottom			: 75px;

	z-index			: 4;
}

#c-build
{
	display			: inline-block;

	width			: 150px;

	padding			: 5px 10px;
}

.m-item
{
	display			: inline-block;

	margin			: 2px 5px;
	padding			: 2px 10px;

	cursor			: pointer;
}


/*
 * List of available builds
 */
#bldlist
{
	display			: none;
	position		: fixed;

	width			: auto;
	height			: 0px;
	bottom			: 76px;

	overflow-x		: hidden;
	overflow-y		: auto;

	font-size		: 10pt;

	z-index			: 8;
}

#bldlist table
{
	margin			: 5px;
	border-collapse		: collapse;
}

#bldlist table th,
#bldlist table td
{
	padding			: 2px 5px;
	text-align		: left;
}

#bldlist a,
#bldlist a:link,
#bldlist a:visited
{
	font-weight		: bold;
}


/*
 * Log messages
 */
#log
{
	display			: none;
	position		: fixed;

	left			: 25px;
	right			: 25px;

	overflow-x		: hidden;
	overflow-y		: auto;

	height			: 0px;
	bottom			: 76px;

	z-index			: 6;
}

#log h3
{
	margin			: 2px 2px 5px 2px;

	padding			: 2px 5px;

	font-weight		: bold;
}

#log p
{
	margin			: 2px 5px;

	font-family		: "DejaVu Sans Mono", "Liberation Mono", "Courier New", monospace;
}

#log p.info::before
{
	content			: "[I] ";
}

#log p.debug::before
{
	content			: "[D] ";
}

#log p.warn::before
{
	content			: "[W] ";
}

#log p.error::before
{
	content			: "[E] ";
}


/*
 * Build & execution logs
 */
p.log
{
	height			: 300px;

	font-family		: "DejaVu Sans Mono", "Liberation Mono", "Courier New", monospace;
	font-size		: 10pt;

	white-space		: pre;

	overflow-x		: hidden;
	overflow-y		: auto;
}

/*
 * Splash screen
 */
#splash
{
	position		: fixed;

	margin			: 0px;

	width			: 320px;
	height			: 240px;

	z-index			: 30;
}

#splash h1
{
	margin			: 0px;

	padding			: 25px 25px 5px 25px;

	font-size		: 32pt;
	font-weight		: bold;

	text-align		: center;
}

#splash h2
{
	position		: absolute;

	margin			: 0px;

	left			: 0px;
	right			: 0px;
	bottom			: 0px;

	padding			: 5px;

	font-size		: 12pt;
	font-weight		: bold;
}

#splash h3
{
	margin			: 0px;

	padding			: 5px 25px 25px 25px;

	font-size		: 12pt;
	font-weight		: bold;

	text-align		: center;
}

#splash p
{
	margin			: 0px;

	padding			: 10px;

	font-size		: 16pt;
	font-style		: italic;

	text-align		: center;
}

#splash-bg
{
	position		: fixed;

	top			: 0px;
	left			: 0px;
	width			: 100%;
	height			: 100%;

	z-index			: 20;
}


/*
 * Build Summary
 */
#bldpkg-s
{
	height			: 300px;

	overflow-x		: hidden;
	overflow-y		: auto;
}

#bldpkg-s table
{
	width			: 800px;

	table-layout		: fixed;

	border-collapse		: collapse;
	border-spacing		: 0px;

	font-family		: "DejaVu Sans Mono", "Liberation Mono", "Courier New", monospace;
}

#bldpkg-s table th,
#bldpkg-s table td
{
	padding			: 2px 5px;

	text-align		: left;
}


/*
 * Test Summary
 */
#bldtst-s
{
	height			: 300px;

	overflow-x		: hidden;
	overflow-y		: auto;
}

#bldtst-s table
{
	width			: 800px;

	table-layout		: fixed;

	border-collapse		: collapse;
	border-spacing		: 0px;

	font-family		: "DejaVu Sans Mono", "Liberation Mono", "Courier New", monospace;
}

#bldtst-s table th,
#bldtst-s table td
{
	padding			: 2px 5px;

	text-align		: left;
}


/*
 * Available themes
 */
#themes
{
	display			: none;
	position		: fixed;

	width			: auto;
	height			: 0px;
	bottom			: 76px;

	overflow-x		: hidden;
	overflow-y		: auto;

	font-size		: 10pt;

	z-index			: 8;
}

#themes-bg
{
	display			: none;

	position		: fixed;

	left			: 0px;
	right			: 0px;
	top			: 0px;
	bottom			: 0px;

	z-index			: 10;
}

#themes a,
#themes a:link,
#themes a:visited
{
	margin			: 5px 10px;

	display			: block;
	font-weight		: bold;
}
