/*
 * css/themes/default.css
 *
 * Default theme for usus.
 *
 * (c) 2014 Sanjeev Premi (spremi@ymail.com)
 *
 * This software is available under terms of The MIT License.
 * (http://opensource.org/licenses/MIT)
 */


body
{
	background-color	: #323232;
}


/*
 * Page header
 */
#header
{
	background-color	: #242424;
}

#header h1
{
	color			: #ff8c00;		/* darkorange */
}

#header h2
{
	color			: #fff8dc;		/* cornsilk */
}

#version
{
	color			: #7fff00;		/* chartreuse */
}


/*
 * Page content
 */
#content
{
	color			: #f5f5dc;		/* beige */
}

#content h3
{
	color			: #1e90ff;		/* dodgerblue */
}

#content p.note
{
	background-color	: #2c2c2c;
	border-left		: 5px solid #deb887;
	border-right		: 1px dotted #deb887;
	border-top		: 1px dotted #deb887;
	border-bottom		: 1px dotted #deb887;

	color			: #deb887;		/* burlywood */
}

#content p.inf
{
	background-color	: #2c2c2c;
	border-left		: 5px solid #9bddff;
	border-right		: 1px dotted #9bddff;
	border-top		: 1px dotted #9bddff;
	border-bottom		: 1px dotted #9bddff;

	color			: #9bddff;		/* columbia blue */
}

#content p.err
{
	background-color	: #2c2c2c;
	border-left		: 5px solid #de3163;
	border-right		: 1px dotted #de3163;
	border-top		: 1px dotted #de3163;
	border-bottom		: 1px dotted #de3163;

	color			: #de3163;		/* cherry */
}


/*
 * Page footer
 */
#footer
{
	background-color	: #4169e1;		/* royalblue */
	color			: #c0c0c0;		/* silver */
}

#footer #license
{
	color			: #fff8dc;		/* cornsilk */
}

#footer #license a,
#footer #license a:link,
#footer #license a:visited
{
	color			: white;
}

#footer #license a:hover
{
	color			: #ff8c00;		/* darkorange */
}


/*
 * Menu
 */
#menu
{
	background-color	: #ff8c00;		/* darkorange */
}

#menu-bg
{
	background-color	: #202020;
}

.m-item
{
	color			: black;
}

.m-item:hover
{
	color			: #fffff0;		/* ivory */
}

#c-build
{
	color			: white;
}


/*
 * List of available builds
 */
#bldlist
{
	background-color	: #27408b;		/* royalblue4 */
	color			: #f5f5dc;		/* beige */
}

#bldlist table th,
#bldlist table td
{
	border			: 1px solid #808080;	/* gray */
}

#bldlist a,
#bldlist a:link,
#bldlist a:visited
{
	color			: #7fff00;		/* chartreuse */
}

#bldlist a:hover
{
	background-color	: #ff8c00;		/* darkorange */
	color			: black;
}


/*
 * Log messages
 */
#log
{
	background-color	: #181818;
}

#log h3
{
	background-color	: #228b22;		/* forestgreen */
	color			: #f0fff0;		/* honeydew */
}

#log p.info
{
	color			: #dcdcdc;		/* gainsboro */
}

#log p.debug
{
	color			: #228b22;		/* forestgreen */
}

#log p.warn
{
	color			: #daa520;		/* goldenrod */
}

#log p.error
{
	color			: #cd0000;		/* red4 */
}


/*
 * Build & execution logs
 */


/*
 * Splash screen
 */
#splash
{
	background-color	: #ff9933;		/* deep saffron */
}

#splash h1
{
	color			: #ffffff;
}

#splash h2
{
	background-color	: #138808;		/* india green */
	color			: #ffffff;
}

#splash h3
{
	color			: #ffffff;
}

#splash p
{
	color			: #ffffff;
}

#splash-bg
{
	background-color	: #242424;
}


/*
 * Build Summary
 */
#bldpkg-s table th,
#bldpkg-s table td
{
	border			: 1px solid #808080;	/* gray */
}


/*
 * Test Summary
 */
#bldtst-s table th,
#bldtst-s table td
{
	border			: 1px solid #808080;	/* gray */
}


/*
 * Build status & Test result
 */
td.s,		/* SUCCESS */
td.p		/* PASS */
{
	color			: #228b22;		/* forestgreen */
}

td.f		/* FAILURE | FAIL */
{
	color			: red;
}

td.n		/* NOT RUN */
{
	color			: #7b68ee;		/* mediumslateblue */
}

td.u		/* UNKNOWN */
{
	color			: #800080;		/* purple */
}


/*
 * List of themes
 */
#themes
{
	background-color	: #27408b;		/* royalblue4 */
	color			: #f5f5dc;		/* beige */
}

#themes-bg
{
	background-color	: #242424;
}

#themes a,
#themes a:link,
#themes a:visited
{
	color			: #7fff00;		/* chartreuse */
}

#themes a:hover
{
	background-color	: #ff8c00;		/* darkorange */
	color			: black;
}
