/*
 * css/themes/royale.css
 *
 * Royale theme for usus. Based on "Royal" palette for GIMP.
 *
 * (c) 2014 Sanjeev Premi (spremi@ymail.com)
 *
 * This software is available under terms of The MIT License.
 * (http://opensource.org/licenses/MIT)
 */


body
{
	background-color	: #242424;
}


/*
 * Page header
 */
#header
{
	background-color	: #68008C;
	color			: #e4d4ec;
}

#header h1
{
	color			: #fcfcbc;
}

#header h2
{
	color			: #dcc0e4;
}

#version
{
	color			: #c494d4;
}


/*
 * Page content
 */
#content
{
	color			: #fcfcd8;
}

#content h3
{
	color			: #f4b428;
}

#content p.note
{
	color			: #dcc4e4;
}

#content p.inf
{
	color			: #90c464;
}

#content p.err
{
	color			: #fc6868;
}


/*
 * Page footer
 */
#footer
{
	background-color	: #480064;
	color			: #b06cc8;
}

#footer #license
{
	color			: #b474c8;
}

#footer #license a,
#footer #license a:link,
#footer #license a:visited
{
	color			: #bc80cc;
}

#footer #license a:hover
{
	color			: #ece0f0;
}


/*
 * Menu
 */
#menu
{
	background-color	: #3c0050;
	color			: #e8fcf2;
}

#menu-bg
{
	background-color	: #202020;
}

.m-item
{
	background-color	: #4c1060;
}

.m-item:hover
{
	background-color	: #8010a4;
}

#c-build
{
	color			: #fcfcb8;
}


/*
 * List of available builds
 */
#bldlist
{
	background-color	: #442454;

	border			: 1px solid #c494d4;
}

#bldlist table th
{
	color			: #fcfcb8;
}

#bldlist table td
{
	color			: #b484c0;
}

#bldlist a,
#bldlist a:link,
#bldlist a:visited
{
	color			: #f0e8f4;
}

#bldlist a:hover
{
	background-color	: #f0e8f4;
	color			: #50006c;
}


/*
 * Log messages
 */
#log
{
	background-color	: #323232;
	border                  : 1px solid #9444b4;
}

#log h3
{
	background-color	: #440c4c;
	color			: #c898d8;
}

#log p.info
{
	color			: #c0c0c0;
}

#log p.debug
{
	color			: #2e8b57;
}

#log p.warn
{
	color			: #ffd700;
}

#log p.error
{
	color			: #a80000;
}


/*
 * Build & execution logs
 */
p.log
{
	color			: #480060;
}

/*
 * Splash screen
 */
#splash
{
	background-color	: #740098;
}

#splash h1
{
	color			: #fcfcbc;
}

#splash h2
{
	background-color	: #a08020;
	color			: #fcfcb8;
}

#splash h3
{
	color			: #f0e804;
}

#splash p
{
	color			: #dcd00c;
}

#splash-bg
{
	background-color	: #242444;
}


/*
 * Build Summary
 */
#bldpkg-s table th,
#bldpkg-s table td
{
	border			: 1px solid #600084;
}


/*
 * Test Summary
 */
#bldtst-s table th,
#bldtst-s table td
{
	border			: 1px solid #600084;
}


/*
 * Build status & Test result
 */
td.s,		/* SUCCESS */
td.p		/* PASS */
{
	color			: #228b22;		/* forestgreen */
}

td.f		/* FAILURE | FAIL */
{
	color			: red;
}

td.n		/* NOT RUN */
{
	color			: #7b68ee;		/* mediumslateblue */
}

td.u		/* UNKNOWN */
{
	color			: #b57edc;		/* lavendar */
}


/*
 * List of themes
 */
#themes
{
	background-color	: #442454;

	border			: 1px solid #c494d4;
}

#themes-bg
{
	background-color	: #242424;
}

#themes a,
#themes a:link,
#themes a:visited
{
	color			: #f0e8f4;
}

#themes a:hover
{
	background-color	: #f0e8f4;
	color			: #50006c;
}
